<div class="container">
  <%# <div class="d-flex align-items-center">
    <h1>Tasks </h1>
  </div> %>
    <h1>Tasks </h1>
  <div class="tasks">
    <% @tasks.each do |task| %>
      <div class="task">
        <p><%= link_to task.title, task_path(task) %> - <%= task.details %></p>
      </div>
    <% end %>
  </div>
  <%= link_to new_task_path do %>
    <p class="d-flex align-items-center"><i class="fas fa-plus m-1"></i> Add new task</p>
  <% end %>
</div>
